Repository zkvote/zkVote, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-team, @blockchain-team, @zkp-team, @frontend-team, @backend-team, @security-team, @documentation-team

feat: Enhance circuit build process with security scanning, fuzzing, and optimized Dockerfile
  .github/workflows/circuit-testing.yml
  circuits/Dockerfile
Owners: @devops-team, @zkp-team, @blockchain-team

feat: Implement comprehensive smart contract CI/CD pipeline
  .github/workflows/smart-contracts.yml
Owners: @devops-team

feat: Implement backend CI/CD workflow with linting, testing, security, and Docker build
  .github/workflows/backend.yml
Owners: @devops-team

feat: Implement frontend CI/CD workflow with build, test, security, compliance, and deploy
  .github/workflows/frontend.yml
Owners: @devops-team

feat: Implement security testing workflow with dependency scanning, static analysis, and secret detection
  .github/workflows/security.yml
Owners: @devops-team

feat: Implement full system deployment workflow with contracts, frontend, and backend support
  .github/workflows/deployment.yml
Owners: @devops-team

feat: Implement production status check workflow with API, frontend, bridge, and PQC monitoring
  .github/workflows/status-checks.yml
Owners: @devops-team

feat: Implement contract monitoring workflow with anomaly detection and alerts
  .github/workflows/contract-monitoring.yml
Owners: @devops-team

feat: Implement performance monitoring workflow with API, frontend, contract, and cross-chain metrics
  .github/workflows/performance-monitoring.yaml
Owners: @devops-team

feat: Implement blockchain attestation monitoring workflow with anomaly detection and reporting
  .github/workflows/blockchain-attestation-monitoring.yml
Owners: @devops-team

Update zkVote circuit specification to v2.1 with comprehensive security enhancements and formal verification
  docs/Technical Deep-Dive/smartContractInterfaceSpecs.md
  docs/Technical Deep-Dive/zk-SNARK_circuitDesignSpecs.md
Owners: @documentation-team

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Global owners for all files (optional, use with caution)
# * @global-owner-team

# CI/CD Configuration - Managed by DevOps
/.github/workflows/* @devops-team
/.github/actions/ @devops-team
/.github/CODEOWNERS @devops-team # Meta: CODEOWNERS itself should be owned

# Smart Contracts - Managed by Blockchain/Smart Contract Team
/contracts/ @blockchain-team
/circuits/ @zkp-team @blockchain-team

# Frontend - Managed by Frontend Team
/frontend/ @frontend-team
/sdk/ @frontend-team @backend-team # SDK might be co-owned

# Backend - Managed by Backend Team
/backend/ @backend-team

# Security related configurations and reports
/security/ @security-team
/.github/SECURITY_ISSUE_TEMPLATE.md @security-team

# Monitoring and Performance
/monitoring/ @devops-team @backend-team
/performance/ @devops-team @backend-team
/.github/STATUS_CHECK_TEMPLATE.md @devops-team
/.github/CONTRACT_ANOMALY_TEMPLATE.md @blockchain-team @devops-team
/.github/PERFORMANCE_ISSUE_TEMPLATE.md @backend-team @devops-team
/.github/ATTESTATION_ISSUE_TEMPLATE.md @blockchain-team @security-team

# Kubernetes configurations
/k8s/ @devops-team

# Documentation
/docs/ @documentation-team
